@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700);

/* Black:         #000000 */
/* White:         #EDEDED */
/* Gray:          #DEDBD6 */
/* Orange:        #ff5527 */
/* Orange Opacity rgba(255, 85, 39, 0.6) */

body {
  font-family: 'Source Code Pro';
  color: #000000;
}

a {
  text-decoration: none;
}

.h3-title {
  overflow: hidden;
}

.h3-title > h3 {
  float: left;
  margin-right: 0.4em;
}

.h3-title > .line {
  overflow: hidden;
  height: 1em;
  border-bottom: 3px solid #ff5527;
  padding-top: 2em;
}

h3 {
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #000000;
  color: #000000;
}

li {
  margin: 0;
}

blockquote {
  margin: 1em 0em;
  padding-left : 1em;
  border-left: 1px solid #ff5527;
  font-style: italic;
}

p {
  text-align: justify;
}

.note {
  font-size: 0.8em;
  font-style: italic;
}

.link {
  display: block;
  margin-bottom: 2em;
  padding: 0.4em 0.6em;
  border: 1px solid white;
  text-align: center;
}

.subscribe-link {
  border: 2px solid white;
  font-weight: 600;
}

.email-link {
  font-weight: 600;
  text-align: center;
}

table {
  width: 100%;
}

td, th {
  text-align: center;
  vertical-align: top;
}

th {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.4em;
  border: 1px dotted #000000;
}

th.highlight {
  background-color: rgba(255, 85, 39, 0.6);
}

th .note {
  text-transform: none;
  font-size: 0.8em;
}

td {
  border-left: 1px dotted #000000;
  border-right: 1px dotted #000000;
  line-height: 3em;
}

td, th, td:first-child, td:last-child, th:first-child, th:last-child {
  padding: 0.6em 1em;
}

td:first-child, th:first-child {
  border-left: 0;
}

td:last-child, th:last-child {
  border-right: 0;
}

td.notice-1 {
  text-transform: uppercase;
  background-color: #DEDBD6;
  text-align: center;
}

td.notice-2 {
  text-transform: uppercase;
  background-color: #BBF8D5;
  text-align: center;
}

td.notice-3 {
  text-transform: uppercase;
  background-color: #FBFF9E;
  text-align: center;
}

td .note {
  font-size: 0.8em;
  font-style: italic;
  text-transform: none;
}

.time {
  font-size: 0.8em;
  font-style: italic;
  color: #797979;
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
}

.wrapper > img {
  display: block;
  width: 100%;
}

.limit {
  display: block;
  max-width: 50%;
  margin: auto;
}

.border {
  border: 1px solid #000000;
}

.button-link {
  display: inline-block;
  padding: 0.2em 1.2em;
  margin: 1em 0;
  text-decoration: none;
  border: 1px solid #ff5527;
  color: #ff5527;
}

.button-link:hover {
  background-color: inherit;
  border: 1px solid transparent;
}

.highlight-row {
  background-color: #ff5527;
  color: white;
  margin-bottom: 2em;
  border: 1px solid #000000;
}

.highlight-row .highlight-content {
  padding: 2em;
}

.highlight-row .h3-title > .line {
  border-color: #000000;
}

.highlight-row a, .highlight-row .a:visited {
  color: white;
}

ul#header-nav {
  color: #ff5527;
  background-color: #000000;
  margin: 0;
  padding: 1em;
  list-style: none;
  text-align: right;
}

ul#header-nav > li {
  display: inline-block;
  padding: 0 0.8em;
}

ul#header-nav > li > a, ul#header-nav > li > a:visited {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

#header-container {
  width: 100%;
  max-width: none;
  background-color: #000000;
  margin-bottom: 2em;
  padding: 4em 2em;
  border-bottom: 2px solid #DEDBD6;
}

#header {
  padding: 0;
}

#header > img {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

#footer h3 {
  font-size: 4em;
  text-transform: none;
  font-weight: 600;
}

#footer .important {
  display: inline-block;
  text-transform: uppercase;
  background-color: white;
  color: #000000;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: 200;
  margin-bottom: 2em;
}

#footer .link, #footer .email-link {
  font-size: 1.4em;
}

#plan-map {
  max-width: 100%;
}

#ou-quand-comment {
  background-color: #000000;
}

#ou-quand-comment img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 600px;
  margin-bottom: 2em;
}

@media (min-width: 550px) {

  body {
    font-size: 12px;
  }
}

@media (min-width: 1000px) {

  h1 > img {
    margin: 0;
  }

  #schema {
    padding: 2em;
  }

  #schema > img {
    margin-left: -2em;
  }

  .limit {
    max-width: none;
  }

  .notice-block {
    border: 3em solid rgba(222, 219, 217, 0.5);
  }
}

#easteregg {
  display: block;
  width: 100px;
  height: 100px;
  margin: 4em auto;
}
