---
title: Maelström Lab
---

.container

  .row
    .twelve.columns
      #header
        %h1#logo
          %img{src: "images/logo.svg", alt: "Maelström Lab"}
        .wrapper
          #maelstrom-motto Échanges de savoir-faire et croisements de disciplines
        .wrapper
          #event-date
            Du 20 au 25 Octobre 2015 à METTRAY
        .wrapper
          #event-motto
            "En 2 temps, 3 mouvements..."

  .row
    .twelve.columns
      %h3 Maelquoi ?

  .row
    .six.columns
      %blockquote
        Le maelström est un puissant tourbillon marin, un mouvement d'agitation intense qui vous entraîne irrésistiblement.
        %br
        = '-- <a href="https://fr.wikipedia.org/wiki/Maelstrom">Wikipedia</a>'
      %p
        Le Maelström Lab est un rassemblement d'une soixantaine de personnes et une immersion dans un joli coin de la campagne tourangelle. Il se donne pour but la création et la réflexion collective et participative autour de multiples ateliers et groupes de travail.
      %p
        Ce laboratoire s'adresse aux <b>Curieux</b>, aux <b>Bricoleurs</b> et autres <b>Bidouilleurs</b>, à tous ceux en quête d'expériences et d'apprentissages, de jeux et de rencontres.
        <i>Le Maelström Lab est un échange autour du SAVOIR et du FAIRE.</i>
    .six.columns
      %p
        Cet événement est l'occasion d'interroger notre société, ses valeurs et son fonctionnement. C'est un moment pour tenter de faire fondre les barrières entre des disciplines souvent cloisonnées, de croiser les points de vue et les univers de chacun.
      %p
        Il n'y a pas d'autres objectifs que l'esquisse et la tentative. L'aboutissement de ces projets ne sera pas une finalité recherchée : <b>le but se situant avant tout dans la réflexion et l'invention</b>. C'est dans un esprit DIY (Do It Yourself) à la campagne, dans le fait même de se retrouver quelques jours avec des inconnus, de mettre en pratique ses idées jamais tentées, de s’amuser que l'on essaiera de créer l’émulation et l’émulsion dans une effervescence créative et débrouillarde.

  .row
    .twelve.columns
      .wrapper
        %img{src: "images/photo_1.jpg", alt: "Atelier Epouvantail."}
      .news
        %p
          .news-title
            Suite à la 1ère édition de mai 2015 et aux nombreux retours encourageants, le Maelström Lab revient pour une session automnale.
        %p
          Le thème vaste et polysémique de cette nouvelle édition <b>"En 2 temps, 3 mouvements"</b> est une amorce à prendre philosophiquement pour nous lancer collectivement dans un questionnement poétique des choses qui nous entourent. Que le mouvement soit social ou artistique, intellectuel ou physique, artisanal et technologique, en musique, en danse, en mécanique, les choses bougent, mutent, évoluent, se transforment. Les participants sont acteurs de cet événement, envoyez nous par mail vos idées, vos envies, vos propositions, vos questionnements.
      %hr
      .step
        .text Étape.00
        .line

  .row
    .eight.columns
      %h4 Schéma des croisements
      %p Proposition de pôles à organiser et désorganiser selon les usages :
      #schema.wrapper
        %img{src: "images/schema_des_croisements.png", alt: "Proposition de pôles à organiser et désorganiser selon les usages."}
    .four.columns
      %h4 Comment ça marche ?
      %p
        Très simplement.
        %br
        <em>Les matinées</em> : au cours d'une assemblée collective, chacun proposera à l'envie, une piste d'expérimentation, un sujet à discuter, un objet à réaliser,
        une initiation à une technique ou se laissera simplement emmener par un projet qui l’intéresse.
        Suite à quoi des groupes se formeront (puis sûrement se déformeront) pour une durée totalement libre.
        %br
        <em>Les soirées</em> : elles seront réservées à la détente, à la musique, à la danse, et au repos.
      %h4 Et en terme de logistique ?
      %p
        Chacun ramène ce qu'il peut comme outils ou matériaux. Il y aura déjà beaucoup de choses sur place pour ceux qui ne peuvent rien apporter. N'hésitez pas à partager en amont vos plans "récup". Une commission repas est en cours d'organisation, libre à vous de vous inscrire dessus. L'hébergement se fait sur place, penser à ramener camion, tente et/ou matelas (possibilité de dortoir).
      .notice-block-1 Suivre les chapitres détaillés ci-dessous.

  .row
    .twelve.columns
      %hr
      .step
        .text Étape.01
        .line
      %h3 Ou ?

  .row
    .six.columns
      %h4 La barre, Mettray (37)
      %p Dans un domaine avec petite cuisine et grandes dépendances (grange, hangars, barnums selon la météo, forêt et lac), plusieurs espaces dédiés aux divers ateliers.
      #plan.wrapper
        %a{href: "https://www.google.fr/maps/place/La+Barre,+37390/@47.4542814,0.659999,15z/data=!3m1!4b1!4m2!3m1!1s0x47e32aa928e973cf:0x6a6c66cba7dc6459?hl=en", title: "Plan Google Maps", target: "_blank"}
          %img{src: "images/plan.svg", alt: "Plan du site."}
      %a{href: "https://www.google.fr/maps/place/La+Barre,+37390/@47.4542814,0.659999,15z/data=!3m1!4b1!4m2!3m1!1s0x47e32aa928e973cf:0x6a6c66cba7dc6459?hl=en", title: "Plan Google Maps", class: "button-link"}
        Plan Google Maps
      %h5 Comment venir?
      %ul
        %li Covoiturage
        %li Depuis Tours centre : Tram + Bus (<a href="https://www.filbleu.fr/images/infosvoyageurs/ficheslignes/reseau_ete_2015/Bus_52.pdf" title="Information Fil-Bleu ligne 52" target="_blank">ligne 52</a>)
    .six.columns
      #street-view.wrapper
        %a{href: "http://intergalactique.360degres.info/visite-virtuelle/", title: "Visite virtuelle du lieu.", target: "_blank"}
          %img{src: "/images/visite_virtuelle.png", alt: "Logo de visite virtuelle du lieu."}

  .row
    .twelve.columns
      %hr
      .step
        .text Étape.02
        .line
      %h3 Quand ?

  .row
    .eight.columns
      %p
        Une semaine du <u>20 au 25 octobre</u>, en 2 temps.
        %br
        Le site reste ouvert en visite libre durant l'évènement.
      %p
        <b>Programmation en cours, plus d'info à venir...</b>
      .table-wrapper
        %table
          %tr
            %th Mardi au Jeudi
            %th.highlight Vendredi au Dimanche
          %tr
            %td
              Installation
              %br
              Rangement
              %br
              Ateliers
              %br
              Discussions
              %br
              Débats
              %br
              Initiations
              %br
              Projections de films
              %br
              Concerts
              %br
              = "..."
            %td
              Échanges de savoir-faire &
              %br
              Croisements de disciplines
              %br
              = "..."
      / .table-wrapper
      /   %table
      /     %tr
      /       %th Jeudi
      /       %th.highlight Vendredi
      /       %th.highlight Samedi
      /       %th.highlight Dimanche
      /     %tr
      /       %td
      /       %td
      /         .time 8h30
      /         Ice-breaking
      /         %br
      /         Assemblée
      /         %br
      /         Ateliers
      /       %td
      /         .time 8h30
      /         Assemblée
      /         %br
      /         Débriefing
      /         %br
      /         Ateliers
      /       %td
      /         .time 8h30
      /         Assemblée
      /         %br
      /         Débriefing
      /         %br
      /         Ateliers
      /     %tr
      /       %td
      /       %td.notice-1
      /         .time 12h30
      /         Repas du midi
      /       %td.notice-2
      /         .time 12h30
      /         Repas du midi
      /       %td.notice-2
      /         .time 12h30
      /         Repas du midi
      /     %tr
      /       %td
      /       %td
      /         .time 14h00
      /         Ateliers
      /       %td
      /         .time 14h00
      /         Ateliers
      /       %td
      /         .time 14h00
      /         Débriefing
      /         %br
      /         Rangement
      /     %tr
      /       %td.notice-1
      /         .time 18h00
      /         Accueil
      /         %br
      /         Repas du soir
      /       %td.notice-2
      /         .time 19h30
      /         Repas du soir
      /       %td.notice-2
      /         .time 19h30
      /         Repas du soir
      /       %td
      /     %tr
      /       %td
      /         Ice-breaking
      /         %br
      /         Installation
      /       %td Soirée
      /       %td Soirée
      /       %td
    .four.columns
      .warning-block
        .warning-block-header
          %img{src: "images/warning.svg", alt: "Warning"}
        %h4 Les événements satellites du Maelström
        %p
          Si vous avez des envies, des idées, des propositions qui correspondent à la philosophie du maelström, nous proposons de diffuser et d'aider à l'organisation de rencontres, débats, initiations, ou ateliers divers.
        %h4 Appel à projets
        %p Contactez nous en précisant :
        %ul
          %li
            la nature de ce que vous voulez partager, présenter (discussion, initiation à une technique, réflexion collective, atelier bricole...)
          %li
            la durée (entre une heure et une journée)
          %li
            le lieu (à domicile, dans un atelier, en extérieur..)

  .row
    .twelve.columns
      %hr
      .step
        .text Étape.03
        .line
      %h3 Comment Manger ?

  .row
    .six.columns
      %p
        Une prise en charge des repas du vendredi au dimanche midi (avec petit-dej et goûter) est prévue. Pour cela une participation aux frais est demandée (à titre indicatif environ 5 euros par repas). Nous réfléchissons encore à l'organisation de la cantine du lundi au jeudi (selon le nombre d'inscriptions).
      %p
        Pour rester dans la philosophie de l'évènement, les repas seront réalisés par les participants à tour de rôle (matériel et courses sur place).
    .six.columns
      .notice-block-2
        %h4 Hébergement
        %p
          Le site de 10 hectares comporte un espace de camping  et un grenier qui pourra faire office de dortoir.
          Munissez vous de vos tentes, camions ou matelas.

  .row
    .twelve.columns
      %hr
      .step
        .text Étape.04
        .line

  .row
    .six.columns.offset-by-six.columns
      %h3 Trousseau de survie

  .row
    .two.columns.pizza
      .wrapper.border
        %img{src: "images/figure_01.png", alt: "Illustration figure 1."}
      .legend Figure.01
    .two.columns.pizza
      .wrapper.border
        %img{src: "images/figure_02.png", alt: "Illustration figure 2."}
      .legend Figure.02
    .two.columns.pizza
      .wrapper.border
        %img{src: "images/figure_03.png", alt: "Illustration figure 3."}
      .legend Figure.03
    .six.columns
      %ul
        %li
          Trousse de toilette + serviette de bain + savon
          (type savon de marseille ou savon noir car douche en extérieur et évacuation dans la nature).
        %li Matelas avec duvet, tente ou camion pour dormir.
        %li Bottes, K-way et maillot de bain.
        %li Outils, récupération de matériel, petits outillages divers à mettre en commun.
        %li Bonne humeur et convivialité.
        %li ...

  .row
    .twelve.columns
      %hr
      .step
        .text Étape.05
        .line
      %h3
        Inscription (obligatoire)

  .row
    .twelve.columns
      .warning-group-wrapper
        .warning-wrapper
          .warning
            Ouverture fin Août.
        .warning-wrapper
          .warning
            Évènement limité à 60 personnes.

  .row
    .twelve.columns
      %hr
      .step
        .text Étape.06
        .line
      #footer
        %h3 Comment nous joindre ?
        %p Si vous avez des questions, n'hésitez pas à nous contacter, on sera ravi de vous répondre.
        %ul.contact-list
          %li.contact-email <a href="mailto:bonjour@maelstrom-lab.com">bonjour@maelstrom-lab.com</a>
          %li.contact-phone <a href="tel:+33673255003">06 73 25 50 03 (Stéphanie)</a>
