---
title: Maelström Lab
---
%ul#header-nav

  %li= link_to("Restitution 2015", "http://www.maelstrom-lab.com/restitution/")
  %li= link_to("Fanzine 2015", "http://www.maelstrom-lab.com/restitution/Fanzine_Maelstrom_2015.pdf")
  %li= link_to("Restitution 2016", "http://www.maelstrom-lab.com/restitution_2016/")

.container#header-container
  .row
    .twelve.columns
      #header
        %img{src: "images/header.jpg", alt: "Maelström Lab #4"}

.container

  .row
    .twelve.columns
      .h3-title
        %h3 Maelquoi ?
        .line

  .row
    .six.columns
      %blockquote
        Le maelström est un puissant tourbillon marin, un mouvement d'agitation intense qui vous entraîne irrésistiblement.
        %br
        = '-- <a href="https://fr.wikipedia.org/wiki/Maelstrom">Wikipedia</a>'
      %p
        Le Maelström Lab est un rassemblement d'une soixantaine de personnes et une immersion dans un joli coin de la campagne tourangelle. Il se donne pour but la création et la réflexion collective et participative autour de multiples ateliers et groupes de travail.
      %p
        Ce laboratoire s'adresse aux <b>Curieux</b>, aux <b>Bricoleurs</b> et autres <b>Bidouilleurs</b>, à tous ceux en quête d'expériences et d'apprentissages, de jeux et de rencontres.
        <i>Le Maelström Lab est un échange autour du SAVOIR et du FAIRE.</i>
    .six.columns
      %p
        Cet événement est l'occasion d'interroger notre société, ses valeurs et son fonctionnement. C'est un moment pour tenter de faire fondre les barrières entre des disciplines souvent cloisonnées, de croiser les points de vue et les univers de chacun.
      %p
        Il n'y a pas d'autres objectifs que l'esquisse et la tentative. L'aboutissement de ces projets ne sera pas une finalité recherchée : <b>le but se situant avant tout dans la réflexion et l'invention</b>. C'est dans un esprit DIY (Do It Yourself) à la campagne, dans le fait même de se retrouver quelques jours avec des inconnus, de mettre en pratique ses idées jamais tentées, de s’amuser que l'on essaiera de créer l’émulation et l’émulsion dans une effervescence créative et débrouillarde.

  .row.highlight-row
    .twelve.columns
      .wrapper
        %img{src: "images/photo_1.jpg", alt: "Work In Progress"}
      .highlight-content
        .row
          .h3-title
            %h3 Ombres et Lumière
            .line
        .row
          .six.columns
            %p
          .six.columns
            %p

  .row
    .eight.columns
      %h4 Schéma des croisements
      .note Proposition de pôles à organiser et désorganiser selon les usages :
      #schema.wrapper.limit
        %img{src: "images/schema_des_croisements.png", alt: "Proposition de pôles à organiser et désorganiser selon les usages."}
    .four.columns
      %h4 Comment ça marche ?
      %p
        Très simplement.
        %br
        <em>Les matinées</em> : au cours d'une assemblée collective, chacun proposera à l'envie, une piste d'expérimentation, un sujet à discuter, un objet à réaliser,
        une initiation à une technique ou se laissera simplement emmener par un projet qui l’intéresse.
        Suite à quoi des groupes se formeront (puis sûrement se déformeront) pour une durée totalement libre.
        %br
        <em>Les soirées</em> : elles seront réservées à la détente, à la musique, à la danse, et au repos.
      %h4 Et en terme de logistique ?
      %p
        Chacun ramène ce qu'il peut comme outils ou matériaux. Il y aura déjà beaucoup de choses sur place pour ceux qui ne peuvent rien apporter. N'hésitez pas à partager en amont vos plans "récup". Une commission repas est en cours d'organisation, libre à vous de vous inscrire dessus. L'hébergement se fait sur place, penser à ramener camion, tente et/ou matelas (possibilité de dortoir).

  .row
    .twelve.columns
      .wrapper#ou-quand-comment
        %img{src: "images/ou_quand_comment.jpg", alt: "Ou, Quand, Comment?"}

  .row
    .six.columns
      .h3-title
        %h3 Ou!
        .line
      %p Dans un domaine avec petite cuisine et grandes dépendances (grange, hangars, barnums selon la météo, forêt et lac), plusieurs espaces dédiés aux divers ateliers.
      #plan.wrapper
        %a{href: "https://www.google.fr/maps/place/La+Barre,+37390/@47.4542814,0.659999,15z/data=!3m1!4b1!4m2!3m1!1s0x47e32aa928e973cf:0x6a6c66cba7dc6459?hl=en", title: "Plan Google Maps", target: "_blank"}
          %img#plan-map{src: "images/plan.png", alt: "Plan du site."}
      %a{href: "https://www.google.fr/maps/place/La+Barre,+37390/@47.4542814,0.659999,15z/data=!3m1!4b1!4m2!3m1!1s0x47e32aa928e973cf:0x6a6c66cba7dc6459?hl=en", title: "Plan Google Maps", class: "button-link"}
        Plan Google Maps
      %a{href: "https://www.filbleu.fr/images/infosvoyageurs/ficheslignes/reseau_sept_2016/Bus_52.pdf", title: "Lien Fil Bleu", class: "button-link"}
        Ligne 52 depuis Tours
    .six.columns
      .h3-title
        %h3 Comment!
        .line
      %p
        Le jeudi midi, chacun ramène sa spécialité ou son kiffe culinaire pour un repas en commun convivial.
      %p
        Une prise en charge des repas du jeudi soir au dimanche midi (avec petit-dej et goûter) est prévue. Pour cela une participation de 5 euros par repas est demandée (cela inclus la nourriture et les frais divers engendrés par l'événement).
      %p
        Pour rester dans la philosophie de l'évènement, les repas seront réalisés par les participants (matériel et courses sur place).
        Les inscriptions auront lieu lors des assemblées du matin.
        Nous nous efforçons au maximum de choisir des produits locaux. Les repas sont majoritairement végétariens.
      %p
        Concernant l'hébergement, il peut se faire sur place. Le site de 10 hectares comporte un espace de camping  et un grenier qui pourra faire office de dortoir.
        Munissez vous de vos tentes, camions ou matelas.
      %a{href: "http://intergalactique.360degres.info/visite-virtuelle/", target: "_blank"}
        .wrapper
          %img{src: "images/visite_virtuelle.jpg", alt: "Lien vers la visite virtuelle du lieu"}

  .row
    .twelve.columns
      .h3-title#agenda
        %h3 Quand!
        .line
      %p
        Du <u>25 au 28 Mai 2017</u>.
        %br
        Le site reste ouvert en visite libre durant l'évènement.
      .table-wrapper
        %table
          %tr
            %th.highlight Jeudi
            %th.highlight Vendredi
            %th.highlight Samedi
            %th.highlight Dimanche
          %tr
            %td
              %b OUVERTURE
              .time 9h30
              Accueil, Assemblée, Installation, Visite
            %td
              Repas du soir
              .time 9h30
              Assemblée, Échanges de savoir-faire et croisements de disciplines
            %td
              Petit-déjeuner
              .time 9h30
              Assemblée, Échanges de savoir-faire et croisements de disciplines
            %td
              Petit-déjeuner
              .time 9h30
              Assemblée, Échanges de savoir-faire et croisements de disciplines
          %tr
            %td.notice-3
              .time 12h30
              Pique-nique participatif
            %td.notice-2
              .time 12h30
              Repas du midi
            %td.notice-2
              .time 12h30
              Repas du midi
            %td.notice-2
              .time 12h30
              Repas du midi
          %tr
            %td
              .time 14h00
              Échanges de savoir-faire et croisements de disciplines
            %td
              .time 14h00
              Échanges de savoir-faire et croisements de disciplines
            %td
              .time 14h00
              Échanges de savoir-faire et croisements de disciplines
            %td
              .time 14h00
              Rangement
          %tr
            %td.notice-1
              .time 19h00
              Repas du soir
            %td.notice-1
              .time 19h00
              Repas du soir
            %td.notice-1
              .time 19h00
              Repas du soir
          %tr
            %td Soirée, Concerts, Films...
            %td Soirée, Concerts, Films...
            %td Soirée, Concerts, Films...

  .row.highlight-row#footer
    .twelve.columns
      .wrapper
        %img{src: "images/photo_2.jpg", alt: "Work In Progress"}
      .highlight-content
        .row
          .six.columns
            %h3 Inscription
            .important Évènement limité à 60 personnes.
            .link.subscribe-link
              %a{href: "https://goo.gl/forms/yezzrTuDgnidZIC82", target: "_blank"} Lien vers le formulaire d'inscription
            .link
              %a{href: "https://annuel.framapad.org/p/MaelstromLab4Members", target: "_blank"} Lien de présentation des inscrits
            .link
              %a{href: "https://annuel.framapad.org/p/MaelstromLab4Discuss", target: "_blank"}
                Lien de discussions
                .note (idées, questions, covoiturages, humeurs, etc...)
          .six.columns
            %h3 Nous joindre
            %p Si vous avez des questions, n'hésitez pas à nous contacter, on sera ravi de vous répondre.
            .email-link
              %a{href: "mailto:bonjour@maelstrom-lab.com"} bonjour@maelstrom-lab.com
            #easteregg
              %img{src: "images/smile.jpg", alt: "Easter Egg"}
      .wrapper
        %img{src: "images/photo_3.jpg", alt: "Work In Progress"}
